

<div class="card" style="width: 18rem;">
    <img src="https://images.pexels.com/photos/4041392/pexels-photo-4041392.jpeg?auto=compress&cs=tinysrgb&w=1200" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">10 Skincare Mistakes Ruining You Skin</h5>
      <p class="card-text">Queen, you need to give up the hot cheetos and coca colas at 7 AM...</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>